.gitbook-link {
    display: none !important;
}

.book-summary ul.summary li.header {
    color: #364149;
    font-weight: 500;
}

.book-summary ul.summary li a,
.book-summary ul.summary li span {
    color: #939da3;
}

.markdown-section a,
.markdown-section h3 {
    color: #008cff;
}