@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css);

body {
    font-family: "Helvetica Neue", Helvetica, Arial;
}

.book.font-family-0,
.book.font-family-1,
.book-summary {
    font-family: "Helvetica Neue", Helvetica, Arial;
}

.gitbook-link {
    display: none !important;
}

.book-summary ul.summary li.header {
    color: #364149;
    font-weight: 500;
}

.book-summary ul.summary li a,
.book-summary ul.summary li span {
    color: #939da3;
}

.markdown-section {
    color: #000;
    font-weight: 500;
    font: 14px/1.5em "Helvetica Neue";
}

.markdown-section a,
.markdown-section b,
.markdown-section strong {
    color: #FF1654;
}

.markdown-section pre {
    font-family: "Fira Code", "Helvetica Neue", Helvetica, Arial;
    background-color: rgb(242, 249, 255);
    border-left: 5px solid;
    border-color: #FF1654;
    border-radius: 4px;
    margin-bottom: .85em;
}

.katex {
    color: #000;
    font: 500 1.21em KaTeX_Main, Times New Roman, serif;
}

.katex-display {
    padding: .85em 1em;
}

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: slategray;
}

.token.punctuation {
    color: #999;
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #9a6e3a;
    background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #07a;
}

.token.function,
.token.class-name {
    color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
    color: #e90;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}