@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css);

body {
    font-family: "Fira Code", "Helvetica Neue", Helvetica, Arial;
}

.book.font-family-0,
.book.font-family-1,
.book-summary {
    font-family: "Fira Code", "Helvetica Neue", Helvetica, Arial
}

.gitbook-link {
    display: none !important;
}

.book-summary ul.summary li.header {
    color: #364149;
    font-weight: 500;
}

.book-summary ul.summary li a,
.book-summary ul.summary li span {
    color: #939da3;
}

.markdown-section a,
.markdown-section b,
.markdown-section strong {
    color: #FF1654;
}

.markdown-section pre {
    background-color: rgb(242, 249, 255);
    border-left: 5px solid;
    border-color: #FF1654;
    border-radius: 4px;
}

.katex-display {
    padding: .85em 1em;
}